.page {
    width: 100%;
    background-color: #FFFFFF;
}

.page__wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 104px 120px 120px 120px;
}

.page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page__section-heading {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    width: max-content;
    align-items: center;
    margin-bottom: 80px;
}

.page__section-heading:after {
    content: "";
    background-image: url("/assets/images/icon_section.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

@media screen and (max-width: 1000px) {
    .page__wrapper {
        padding: 64px 60px 64px 60px;
    }
}

@media screen and (max-width: 640px) {
    .page__wrapper {
        padding: 64px 30px 64px 30px;
    }

}

@media screen and (max-width: 480px) {
    .page__wrapper {
        padding: 64px 20px 64px 20px;
    }

    .page__section-heading {
        font-size: 35px;
        margin-bottom: 30px;
    }
}
